<h1>Kisi Challenge</h1>
<a href="/demo/start_job"><button>Do the job</button></a>
<a href="/demo/start_job/5"><button>Start five jobs</button></a>
<a href="/demo/start_job/100"><button>Start 100 jobs</button></a>

<dl>
  <dt>Jobs enqueued:</dt>
  <dd><%= @stats.jobs_enqueued %></dd>

  <dt>Jobs done:</dt>
  <dd><%= @stats.job_count %></dd>

  <dt>Total job time:</dt>
  <dd title="<%= Time.at(@stats.job_time).utc.strftime('%H:%M:%S') %>">
    <%= distance_of_time_in_words(@stats.job_time.seconds) %>
  </dd>

  <% if !@stats.best_hash_count.zero? %>
  <dt>Best hash:</dt>
  <dd>
    <%= @stats.best_hash_count %> (<%= @stats.best_hash_str %>)
  </dd>
  <% end %>
  
</dl>
